body {
    font-family: Arial, sans-serif;
    background-color: aqua;
}

.calculator {
    background-color: black;
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
    width: 97%;
    padding: 10px;
    margin-bottom: 33px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

.btn {
    width: 45px;
    height: 45px;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid black;
}
